.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.locked_item {
  display: flex;
  justify-content: flex-end;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 80px;
  max-height: calc(100vh - 536px);
  margin-left: 0;
  padding-right: 8px;
  padding-left: 0;
  overflow: hidden auto;
  list-style-type: none;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  border: 1px dashed var(--text-inactive-color);
  border-radius: 40px;
}

.placeholder_active {
  border-color: var(--colors-interface-accent);
  box-shadow: 0 0 12px var(--colors-interface-accent);
}
